language: haskell

before_install:
  - cd groundhog-test

install:
  - cabal install --only-dependencies --enable-tests -fsqlite -fpostgresql -fmysql

before_script:
  - psql --username=postgres --file=init_postgresql.sql
  - mysql --username=root < init_mysql.sql

script:
  - cabal configure --enable-tests -fsqlite -fpostgresql -fmysql
  - cabal build
  - cabal test --log=/dev/stdout
